logs
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.gem
Gemfile.lock
.rakeTasks
*.iml

.bloop/
.bsp/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/
