@(documentation: Seq[(String,String,String)])

@main("Prism API") {

    <h1>Prism API</h1>

    <p>This server is running the Prism API: the API that provides near real-time information about infrastructure.</p>
    <p>For the sake of everyones sanity, this page lists the endpoints that are available to experiment with.</p>

    <ul>
        <li><a href="@routes.Api.instanceList">Instances</a> - try this with
            <a href="@routes.Api.instanceList?_expand">_expand</a>, filter using any key as a query param e.g.
            <a href="@routes.Api.instanceList?vendor=openstack">vendor=openstack</a> or a more complex example
            <a href="@routes.Api.instanceList?_regex&mainclasses=soulmates.*&stage=TEST">switching on regexes</a>.
        </li>
        <li><a href="@routes.Api.roleList">Roles</a></li>
        <li><a href="@routes.Api.stackList">Stacks</a></li>
        <li><a href="@routes.Api.appList">Apps</a> - again, filters work with either key</li>
    </ul>

    <h2>Play routes</h2>
    <table>
        <tbody>
        @documentation.map { route =>
            <tr>
                <td>@route._1</td>
                <td>@route._2</td>
                <td>@route._3</td>
            </tr>
        }
        </tbody>
    </table>

}
