name: CI
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: guardian/actions-assume-aws-role@v1.0.2
        with:
          awsRoleToAssume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}

      # Node is needed for CDK
      - name: Setup node
        uses: guardian/actions-setup-node@v2.4.1
        with:
          cache: 'yarn'
          cache-dependency-path: 'cdk/yarn.lock'

      # Java is needed for the Scala Play app
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - run: ./scripts/ci
