name: Update Dependency Graph for sbt
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  dependency-graph:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: guardian/setup-scala@v1
      - name: Submit dependencies
        id: submit
        uses: scalacenter/sbt-dependency-submission@bfbba169ec2dad010624339a27f402b311ed4083 # v3.1.1
      - name: Log snapshot for user validation
        id: validate
        run: cat ${{ steps.submit.outputs.snapshot-json-path }} | jq
    permissions:
      contents: write
