name: Update Dependency Graph for sbt
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  dependency-graph:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: guardian/setup-scala@v1
      - name: Submit dependencies
        id: submit
        uses: scalacenter/sbt-dependency-submission@6952064142346d7271316d6e5999d37b56f1a015 # v3.1.1
      - name: Log snapshot for user validation
        id: validate
        run: cat ${{ steps.submit.outputs.snapshot-json-path }} | jq
    permissions:
      contents: write
